//General Styling
.btn {
  // background: #f08e80;
  background: #F0910C;
  border: 0px;
  color: white;
  padding: 10px 20px 10px 20px;
  max-height: 50px;
}

.btn:hover,
.nav-donate:hover {
  // background: rgb(240, 142, 128, 0.5);
  background: rgb(240, 145, 12, 0.5);
  color: rgb(255, 255, 255, 0.9);
}

// Navigation Bar
.nav,
.footer {
  display: flex;
  flex-direction: row;
  // margin: 0 20px 0 20px;
}

.nav {
  background: url('../src/images/temp-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 60vh;
}

.overlay {
  position: absolute; /* Position it absolutely within the nav */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 60vh;
  background-color: rgba(0, 0, 0, 0.5); /* Black tint with opacity */
  z-index: 1;
}

.nav-lg {
  color: white;
  display: flex;
  flex-direction: row;
  // border: solid blue 2px;
  flex-grow: 2;
}

// .nav-img-container {
//   width: 300px;
//   height: 200px;
//   overflow: hidden;
// }

.nav-img, .nav-img-2 {
  margin-top: 10px;
  height: 100px;
  width: 300px;
  // background-color: rgba(0, 0, 0, 0.3);
  // border: solid purple;
}

.nav-img {
  margin-left: 20px;
  // border: solid purple;
}

.nav-p-container {
  display: flex;
  // border: solid red 2px;
  flex-grow: 2;
  height: 100px;
  justify-content: flex-end;
  margin-top: 20px;
  z-index: 2;
}

.nav-btn,
.nav-donate {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  height: 50px;
  width: 100px;
  margin-top: 5px;
  border: 0px;
  margin-right: 20px;
}

.nav-btn {
  // background-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgb(255, 255, 255, 0.9);
}

.nav-donate {
  // background-color: #f08e80;
  background-color: #F0910C;
}

//Home

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  max-width: 100%;
  // background: #fdf0e6;
  background-color: rgba(122, 130, 48, 0.6);
  // background: rgb(98, 104, 38, 0.8);
  // background: #5C6340;
}

.iframe-container,
.video-text {
  display: flex;
  // border: solid orange;
}

.iframe-container {
  margin-left: 10%;
}

iframe {
  border-radius: 5px;
}


.video-text {
  font-size: 1.2rem;
  margin-right: 10%;
  display: flex;
  font-weight: 400;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  // color: #4A4A4A;
}

.home-container {
  background-color: rgb(204, 204, 204, 0.01);
}

.home-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 20px;
}

.first-p-container,
.second-p-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 10%;
  padding-left: 20px;
  padding-right: 20px;
  // border: solid green 2px;
  justify-content: center;
}

.first-p-container {
  margin-right: 10%;
}

.second-p-container {
  margin-left: 10%;
}

.home-base-txt {
  font-size: 1.5rem;
  font-weight: 200;
}

.img-size-1,
.img-size-2 {
  height: 404px;
  width: 404px;
  // border: solid red 2px;
  border-radius: 5px;
}

.img-size-1 {
  margin-left: 10%;
}

.img-size-2 {
  margin-right: 10%;
}

.home-btn {
  font-size: 1.5rem;
  max-width: 200px;
  font-weight: 300;
}

// Footer
.footer {
  display: flex;
  flex-direction: row;
  // background: #0b0d63;
  background: #004d6f;
  color: white;
  justify-content: center;
  padding-bottom: 20px;
}


.about-container,
.about-ocean-container,
.social-container {
  display: flex;
  flex-direction: column;
  // border: solid red;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;

  span {
    margin-right: 5px;
  }
}

.footer-img {
  height: 100px;
  width: 100px;
  // border: solid green;
  margin-left: auto;
  margin-right: auto;
}

.footer-submit-container {
  display: flex;
  flex-direction: column;
  // border: solid red;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-submit {
  display: flex;
  flex-direction: column;
}

.footer-submit-title {
  text-align: center;
}

.footer-p,
.footer-btn,
.footer-input {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-btn,
.footer-input {
  margin-top: 5px;
  margin-bottom: 5px;
}