body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Button Classes */
.btn-primary {
  @apply bg-[#40916C] rounded-full border-0 hover:bg-[#549c7c] hover:text-[rgba(255,255,255,0.9)] text-white outline-none;
}

.btn-secondary {
  @apply bg-[#F0910c] rounded-full border-0 hover:bg-[#f0910c80] hover:text-[rgba(255,255,255,0.9)] text-white outline-none;
}

.btn-primary-test {
  @apply bg-[#40916C] rounded-full text-white hover:bg-[#549c7c] hover:text-black;
}


/* Navigation bar */
.lg-nav-parent {
  @apply hidden lg:text-white lg:flex lg:flex-row lg:flex-grow-[2] h-[100px];
}

.lg-nav-link {
  @apply text-center mx-8 text-black font-semibold text-[1.1rem] h-[50px] hover:text-[#40916C] underline-offset-8;
}

.lg-nav-link-2 {
  @apply text-black font-normal text-base h-[50px] w-[100px] border-0 mr-[20px] hover:bg-[#f0910c80] rounded-md underline-offset-8;
}

.lg-nav-content-container {
  @apply flex flex-row flex-grow-[2] h-[100px] z-[2];
}

.lg-nav-img-container {
  @apply flex justify-start h-20;
}

.lg-nav-img {
  @apply h-[75px] w-[300px] my-1;
}

.lg-nav-content {
  @apply flex flex-row items-center;
}

/* Home Button  */
.home-btn-styling {
  @apply font-normal text-[1.1rem] h-[50px] w-[150px] mt-5 mr-[20px];
}

.nav-btn-styling {
  @apply font-normal text-[1.1rem] h-[50px] w-[150px] mr-[20px];
}

.home-link-container {
  @apply relative flex-shrink-0 w-[200px] h-[140px] md:w-[300px] md:h-[180px] hover:border-4 hover:border-[#F0910c];
}

.home-video-thumbnail-container {
 @apply w-[200px] h-[140px] md:w-[300px] md:h-[180px] object-cover;
}

.home-link-container-content {
  @apply absolute top-0 left-0 w-full h-full flex flex-col justify-end text-left z-20 px-2 bg-black bg-opacity-40;
}

.home-link-container-h1 {
  @apply text-[#F0910c] text-lg md:text-[1.1rem] font-black;
}

.home-link-container-p {
  @apply text-white text-xs md:text-base;
}
/* Picture Styling for the home button */
.home-picture-styling {
  @apply sm:h-[300px] sm:w-[450px] md:h-[400px] md:w-[600px] lg:h-[504px] lg:w-[896px] object-cover;
}

/* About Page */
.about-primary-h1-styling {
  @apply text-center md:text-left text-3xl md:text-4xl font-semibold m-1;
}

.about-primary-h3-styling {
  @apply text-xl md:text-2xl font-semibold mb-5 px-5 lg:px-0;
}

.about-secondary-h3-styling {
  @apply text-center md:text-left text-xl md:text-2xl m-1;
}

.about-secondary-p-styling {
  @apply text-center md:text-left text-lg md:text-xl font-[350] m-1;
}

.about-img-div-styling {
  @apply my-10 rounded-lg p-2 lg:py-5 lg:w-[50%] lg:mx-10;
}

.tertiary-child-content {
  @apply p-10;
}
.about-img {
  @apply w-[150px] h-[150px] mx-2 my-auto rounded-full;
}

/* Timeline  */
.year-h1 {
  @apply text-2xl md:text-5xl font-light mx-8 lg:mx-0 border-b-[6px] border-[#F0910c] pb-2 mb-[27px];
}

.month-h1 {
 @apply text-center md:text-left text-xl md:text-3xl font-normal mx-8 lg:mx-0 border-l-[6px] border-[#004d6f] pl-2 mb-5 mt-10;
}

.timeline-p {
  @apply text-center md:text-left text-sm md:text-lg font-normal mb-2 leading-golden lg:leading-golden-lg;
}

/* Donate */
.donate-picture-styling {
  @apply sm:h-[400px] sm:w-full md:h-[400px] md:w-[600px] lg:h-[504px] lg:w-[896px] object-cover;
}
/* Footer */
.footer-a {
 @apply hover:text-[#2C88B0] text-lg md:text-xl no-underline w-[200px] my-2;
}


.footer-icons {
  @apply flex justify-center items-center bg-[#004d6f] hover:bg-[#2C88B0] h-10 w-10 rounded-lg mx-2 md:mx-5 lg:mx-[5px] no-underline;
}

/* Button Styling for Donation  */
.fancy:hover {
  color: white;
  background: black;
}
.fancy:hover span:first-child {
  width: 0.9375rem;
  background: white;
}
.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}