body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Button Classes */
.btn-primary {
  @apply bg-[#F0910c] border-0 hover:bg-[#f0910c80] hover:text-[rgba(255,255,255,0.9)] text-white outline-none;
}

.btn-primary-test {
  @apply bg-[#F0910c] text-white rounded-full hover:bg-[#22281a] hover:text-white;
}
/* Navigation bar */
.lg-nav-parent {
  @apply hidden lg:text-white lg:flex lg:flex-row lg:flex-grow-[2] h-[90px];
}

.lg-nav-link {
  @apply text-white font-normal text-base h-[50px] w-[120px] border-0 mr-[20px] hover:bg-[#22281a] rounded-md underline-offset-8;
}

.lg-nav-content-container {
  @apply flex flex-row flex-grow-[2] h-[100px] z-[2];
}

.lg-nav-img-container {
  @apply flex justify-start h-20;
}

.lg-nav-img {
  @apply h-[75px] w-[300px] my-1;
}

.lg-nav-content {
  @apply flex flex-row items-center h-[90px];
}

/* Home Button  */
.home-btn-styling {
  @apply font-normal text-[1.1rem] h-[50px] w-[150px] mt-5 mr-[20px];
}

/* Picture Styling for the home button */
.home-picture-styling {
  @apply h-[202px] w-[250px] md:h-[302px] md:w-[350px] lg:h-[504px] lg:w-[543px] rounded-md;
}

/* About Page */
.about-primary-h1-styling {
  @apply text-3xl md:text-4xl font-semibold m-1;
}

.about-primary-h3-styling {
  @apply text-xl md:text-2xl font-semibold mb-5 px-5 lg:px-0;
}

.about-secondary-h3-styling {
  @apply text-xl md:text-2xl m-1;
}

.about-secondary-p-styling {
  @apply text-lg md:text-xl font-[350] m-1;
}

.about-img-div-styling {
  @apply my-10 rounded-lg p-2 lg:py-5 lg:w-[50%] lg:mx-10;
}

.tertiary-child-content {
  @apply p-10;
}
.about-img {
  @apply w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] my-auto rounded-full;
}

/* Sponsors */

/* Footer */
.footer-a {
 @apply hover:text-[#2C88B0] text-lg md:text-xl no-underline w-[200px] my-2;
}


.footer-icons {
  @apply flex justify-center items-center bg-[#004d6f] hover:bg-[#2C88B0] h-10 w-10 rounded-lg mx-2 md:mx-5 lg:mx-[5px] no-underline;
}